/* Prevent extra margin on pagination. */
.wp-block-query-pagination.wp-block-query-pagination {
	margin-bottom: 0;
}

/* Prevent screen-reader-text headings from adding block gap. */
h1.screen-reader-text + .wp-block-post-template,
h1.screen-reader-text + .wp-block-query-no-results,
.wp-block-spacer + .wp-block-post-template,
.wp-block-spacer + .wp-block-query-no-results {
	margin-top: 0;
}

/* Adjust the photos grid down to 3 and 2 columns at breakpoitns */
@media (max-width: 1280px) {
	.wp-block-post-template.is-layout-grid.columns-4 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 782px) {
	.wp-block-post-template.is-layout-grid.columns-4 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

/* Scroll the filters if they extend past the screen width. */
@media (max-width: 889px) {
	.wporg-query-filters {
		max-width: 100%;
		overflow-x: scroll;
	}
}
