/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "grid";
@import "single-photo";
@import "submission";
@import "page-filters";

/* Add default focus style. */
:where(main) a:where(:not(.wp-element-button,.wp-block-wporg-link-wrapper)):focus,
:where(main) button:where(:not([class*="wp-block-button"])):focus {
	outline: none;
	border-radius: 2px;
	box-shadow: 0 0 0 1.5px currentColor;
}

/* Keep the border radius on grid items focus. */
.wp-block-wporg-link-wrapper:focus-visible {
	border-radius: 2px;
}

/* Add hover state to the grid items. */
.wp-block-wporg-link-wrapper:hover .has-border-color {
	border-color: var(--wp--preset--color--charcoal-1) !important;
}

/* Remove margin on headings if they're the first thing in the content. */
.entry-content > h2:first-child {
	margin-top: unset;
}

/* Style the description list on Guidelines. */
.entry-content dl {
	dt {
		margin-bottom: calc(var(--wp--preset--spacing--10) / 2);
		font-weight: 700;
		line-height: var(--wp--custom--body--short-text--typography--line-height);
	}

	dd {
		margin-inline-start: var(--wp--preset--spacing--20);
	}

	dd + dt {
		margin-top: var(--wp--preset--spacing--20);
	}
}

/* Style the terms list block, used on Filters. */
.wp-block-categories-list {
	list-style: none;
	padding-inline-start: unset;

	li:not(:last-child) {
		margin-bottom: var(--wp--preset--spacing--10);
	}
}

/* Style the page footer columns. */
.is-page-footer {

	@media (max-width: 1080px) {
		.wp-block-columns {
			--wp--preset--spacing--edge-space: 20px;
		}
	}

	@media (max-width: 782px) {
		padding-inline: 0 !important;

		.wp-block-columns {
			display: block;

			> * {
				padding-inline: var(--wp--preset--spacing--edge-space) !important;
				border-left: none !important;
				border-right: none !important;

				&:not(:last-child) {
					border-bottom: 1px solid var(--wp--preset--color--white-opacity-15);
				}
			}
		}
	}
}
