/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "grid";

/* Add default focus style. */
:where(main) a:where(:not(.wp-element-button,.wp-block-wporg-link-wrapper)):focus,
:where(main) button:where(:not([class*="wp-block-button"])):focus {
	outline: none;
	border-radius: 2px;
	box-shadow: 0 0 0 1.5px currentColor;
}

/* Keep the border radius on grid items focus. */
.wp-block-wporg-link-wrapper:focus-visible {
	border-radius: 2px;
}

/* Add hover state to the grid items. */
.wp-block-wporg-link-wrapper:hover .has-border-color {
	border-color: var(--wp--preset--color--charcoal-1) !important;
}

/* Prevent extra margin on pagination. */
.wp-block-query-pagination.wp-block-query-pagination {
	margin-bottom: 0;
}

/* Prevent screen-reader-text headings from adding block gap. */
h1.screen-reader-text + .wp-block-post-template {
	margin-top: 0;
}
